{% extends 'layout.html' %}
{% block head %}
<title>HALAMAN LOGIN</title>
{% endblock %}
{% block body %}
<div class="mt-5"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Halaman Login</h2>
            </div>
            <div class="class-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">USERNAME</label>
                        <input name="inpuser" type="username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="inpPass" type="password" class="form-control">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary mt-4">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}